%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

{require_min_otp_vsn, "18"}.

{erl_opts, [
  debug_info,
  compressed,
  report,
  warn_export_all,
  nowarn_export_vars,
  warn_shadow_vars,
  warn_unused_function,
  warn_obsolete_guard,
  warn_unused_import
]}.

[
    {lager , ".*",{git, "https://github.com/erlang-lager/lager.git" , {tag,"3.2.4"}}},
    {jsx , ".*",{git, "https://github.com/talentdeficit/jsx.git" , {tag,"2.8.1"}}}
].